.maindiv{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
}

.textdiv{
    justify-content:center ;
    align-items: center;
    margin-top: 140px;
}

.mainimg{
    margin-left: 5px;
}

span{
    color: #5E3BEE;
}

.h2tag{
    font-size:40px;
}


.headline{
    font-weight: 900;
    margin-bottom: 20px;
}

.text{
    font-weight: 600;
    margin-top: 10px;

}

.button{
    background-color: #5E3BEE;
    height: 50px;
    width: 150px ;
    color: white;
    margin-top: 50px;
}